
.contenedorCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 10vh;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedorCards .card {
  width: 300px;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs {
  -webkit-transform: rotateX(360deg) scale(1.2);
          transform: rotateX(360deg) scale(1.2);
}

.contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs svg path, .contenedorCards .card.esFav .wrapper .infoProd .actions .action.aFavs svg circle {
  fill: #fff;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.contenedorCards .card.enCarrito .wrapper .infoProd .actions .action.alCarrito .inCart {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contenedorCards .card.enCarrito .wrapper .infoProd .actions .action.alCarrito .outCart {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.contenedorCards .card .wrapper {
  margin: 60px 10px 10px 10px;
  padding-top: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0 0 20px 10px rgba(29, 29, 29, 0.1);
          box-shadow: 0 0 20px 10px rgba(29, 29, 29, 0.1);
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.contenedorCards .card .wrapper:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.contenedorCards .card .wrapper:hover .imgProd {
  height: 300px;
}
.contenedorCards .card .wrapper:hover  img{
    height: 40px;
}

.contenedorCards .card .wrapper .colorProd {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #b82d44;
}

.contenedorCards .card .wrapper img{
  
  background-position: center ;
  background-repeat: no-repeat;
  position: absolute;
  bottom: calc(100% - 200px);
  width: 200px,100px;
  height: 200px;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.contenedorCards .card .wrapper .infoProd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 170px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedorCards .card .wrapper .infoProd p {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.contenedorCards .card .wrapper .infoProd .nombreProd {
  font-family: "Roboto",sans-serif;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.contenedorCards .card .wrapper .infoProd .extraInfo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contenedorCards .card .wrapper .infoProd .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin-top: auto;
  padding-top: 10px;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio {
  font-family: "Roboto",sans-serif;
  color: #1d1d1d;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio.precioOferta {
  position: absolute;
  left: 0;
  top: -15px;
  color: red;
  font-size: 15px;
  text-decoration: line-through;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio.precioOferta:before {
  font-size: 12px;
}

.contenedorCards .card .wrapper .infoProd .actions .preciosGrupo .precio:before {
  content: var(--currencyPrefix);
  font-size: 20px;
}

.contenedorCards .card .wrapper .infoProd .actions .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 15px;
  width: 35px;
  height: 35px;
  position: relative;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
  cursor: pointer;
  color: #1d1d1d;
}

.contenedorCards .card .wrapper .infoProd .actions .action svg {
  position: absolute;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
}

.contenedorCards .card .wrapper .infoProd .actions .action svg path, .contenedorCards .card .wrapper .infoProd .actions .action svg circle {
  stroke: currentColor;
  fill: transparent;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

.contenedorCards .card .wrapper .infoProd .actions .action.aFavs {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 25px;
  height: 25px;
  color: #fff;
}

.contenedorCards .card .wrapper .infoProd .actions .action.alCarrito svg.inCart {
  -webkit-transform: scale(0);
          transform: scale(0);
}
/*# sourceMappingURL=1.css.map */
@import url("//fonts.googleapis.com/css?family=Maven+Pro");




@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #333333;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  .contenedorCards .card .wrapper:hover .imgProd {
    height: 189px;
  }
  
  .contenedorCards .card .wrapper img{
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: calc(100% - 200px);
    width: 100px,100px;
    height: 150px;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}

.hero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: sans-serif;
    font-size: 1.25rem;
    color: white;
  }
  
  .hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.25);
  }
  
  .hero--21-9 {
    min-height: calc((9 / 21) * 100vw);
  }
  
  .hero--16-9 {
    min-height: calc((9 / 16) * 100vw);
  }
  
  .hero__content {
    text-align: center;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  
  .hero__bg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    z-index: -2;
  }
  /*# sourceMappingURL=1.css.map */

  

  .cf:before, .cf:after{
    content:"";
    display:table;
  }
  
  .cf:after{
    clear:both;
  }

  .cf{
    zoom:1;
  }

  /*-------------------------------------*/	
  
  .form-wrapper {
      width: 450px;
      padding: 15px;
      margin: 150px auto 50px auto;
      background: #444;
      background: rgba(0,0,0,.2);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
      box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  }
  
  .form-wrapper input {
      width: 330px;
      height: 20px;
      padding: 10px 5px;
      float: left;    
      font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
      border: 0;
      background: #eee;
      -moz-border-radius: 3px 0 0 3px;
      -webkit-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;      
  }
  
  .form-wrapper input:focus {
      outline: 0;
      background: #fff;
      -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }
  
  .form-wrapper input::-webkit-input-placeholder {
     color: #999;
     font-weight: normal;
     font-style: italic;
  }
  
  .form-wrapper input:-moz-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }
  
  .form-wrapper input:-ms-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }    
  
  .form-wrapper button {
      overflow: visible;
      position: relative;
      float: right;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 110px;
      font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
      color: #fff;
      text-transform: uppercase;
      background: #d83c3c;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;      
      text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  }   
    
  .form-wrapper button:hover{		
      background: #e54040;
  }	
    
  .form-wrapper button:active,
  .form-wrapper button:focus{   
      background: #c42f2f;    
  }
  
  .form-wrapper button:before {
      content: '';
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent #d83c3c transparent;
      top: 12px;
      left: -6px;
  }
  
  .form-wrapper button:hover:before{
      border-right-color: #e54040;
  }
  
  .form-wrapper button:focus:before{
      border-right-color: #c42f2f;
  }    
  
  .form-wrapper button::-moz-focus-inner {
      border: 0;
      padding: 0;
  }
.byline p{
text-align:center;
color:#c6c6c6;
font: bold 18px Arial, Helvetica, Sans-serif;
text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
color:#d83c3c;
text-decoration:none;
}



.esto a{
   text-decoration: none;
   color: blanchedalmond;
  
   
}
.esto a:hover{
    text-decoration: none;
    color: rgb(205, 255, 154);
    
 }

.esto{
    border-radius: 9px;
    background:rgb(98, 182, 98);
}

.ribbon-default, .ribbon {
    color: #fff;
    background-color: #555;
    border-color: #484848;
  }
  
  
  
  
  .ribbon-success {
    color: #fff;
    background-color: #f81010;
    border-color: #d05a24;
  }
 
  .wrapper-ribbon {
    position: relative;
  }
  
  .ribbon {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
    top: 25px;
    left: -50px;
    width: 200px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .ribbon-fixed {
    position: fixed;
  }
  
  .ribbon.box-shadow {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  .ribbon.text-shadow {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  }
  
 
  .ribbon.top-left {
    top: 25px;
    left: -50px;
    width: 200px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  
  .ribbon-xs {
    width: 50px;
  }
  
  
  
  .ribbon-xs.top-left {
    top: 7px;
    left: -13px;
    width: 50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
 
  
  .ribbon-s {
    width: 100px;
  }
  
 
  
  .ribbon-s.top-left {
    top: 13px;
    left: -25px;
    width: 100px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
 
  
  .ribbon-lg {
    width: 400px;
  }
 
  
  .ribbon-lg.top-left {
    top: 50px;
    left: -100px;
    width: 400px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  